body {
  background-color: slategray;
}

.container {
  display: flex;
  height: 100vh;  
  justify-content: center;
  align-items: center;

}

.titulo {
  
  text-align: center;
}

.quadrado {
  
   padding: 20px;
   height: 80%;
    border: 1px solid;
}


.task-input {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
 
  

}

.input {
  flex: 1;
  border: 1px solid #ccc ; 
  padding: 10px;
  border-radius: 8px;
}

.button {
   padding: 8px 12px;
  background: blue;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.listas {
  display: block;
  

}

.titulo2 {
  margin-bottom: 0;
  
}

 input[type="checkbox"] {
    display: none;
  }

 .custom-checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%; /* faz círculo */
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
  }  

 input[type="checkbox"]:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
  }